body {
    padding: 0;
    margin: 0;
}

div {
    width: 100%;
    height: 500px;
    background:
        url(sun.jpg) no-repeat top center,
        url(grass.jpg) repeat-x bottom,
        #3fccfd;
    background-size:     
        10%,
        10%;
}