.markertype {
    list-style-type: hebrew;
}

.markerposition {
    list-style-position: inside;
}

.imagemaker {
    list-style-image: url(3.png);
    margin-left: 300px;
}

.united {
    list-style: square outside;
}

.nomarker {
    list-style-type: none;
}